<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--css-->
        <link rel="stylesheet" href="css/style.css">

        <!--fonts-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       
                                        
        <title>test</title>
    </head>

    <body>
        <%- include('navbar') %>
        <!--box-1-->
        <div class="container">
            <img src="img/index-pic1.png" class="img">
            <div class="text-box"> 
                <div class="text-in-box"> 
                    <h3>การให้บริการห้องพัก 1/2565</h3> 
                    <p><c-red>ให้นักศึกษาหอพักทุกคน "ย้ายสิ่งของออกจากหอพัก"</c-red></p>
                    <p><c-red>ไม่เกินวันที่ 25 พฤษภาคม 2565 เวลา 11.30 น. </c-red></p>
                    <p>นักศึกษาที่มีความจำเป็นต้องอยู๋หอพักช่วงปิดเทอม</p>
                    <p>ให้ติดต่อเจ้าหน้าที่เพื่อพิจารณาอนุญาตเป็นรายกรณี</p>
                    <button type="submit" class="btn">คลิกเพื่ออ่านต่อ</button>
                </div>
            </div>
            <div class="icon">
                <img src="../img/index-pic2.png" class="icon">
            </div>
        </div>


        <!--box-2-->
        <div class="container-1 ">
            <img src="../img/index-pic3.png"   class="img size-pic3">
            <a href="/"#><p> | หน้าหลัก</p></a>
        </div>

        <!--box-3-->
        <div class="container-2 ">
            <div class="block">
                <a href=""#><img src="../img/index-pic4.png"   class="img size-pic4">
                <h3>จองหอพัก</h3></a>
            </div>
            
            <div class="block">
                <a href=""#><img src="../img/index-pic5.png"   class="img size-pic4">
                <h3>เช็คสถานะการจ่าย</h3></a>
            </div>
           
            <div class="block">
                <a href="/elec_bills"><img src="../img/index-pic6.png"   class="img size-pic4">
                <h3>จ่ายบิลค่าไฟ</h3></a>
            </div>
           
            <div class="block">
                <a href="https://www.facebook.com/profile.php?id=100057105894506" target="_blank"><img src="../img/index-pic7.png"   class="img size-pic4">
                <h3>เกี่ยวกับหอพัก</h3></a>
            </div>
        </div>   
        <!--box-4-->
        <div class="container-3  ">
            <div class="line"></div>
        </div>

        <!--box-5-->
        <div class="container-2">
            <h4>ข่าวประชาสัมพันธ์</h4>
        </div>
    </body>
    <footer></footer>
</html>
