<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--css-->
        <link rel="stylesheet" href="css/login.css">

        <!--fonts-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       
                                        
        <title>test</title>
    </head>

    
    <body>
        <div class="container">
            <img src="img/bg_login.png">
            <div class="top-left">
              <img src="img/index-pic2.png" class="logo">
            </div>
            
            <div class="content box">
                <form action="/login" method="post" >
                    <h4>เข้าสู่ระบบหอพักนักศึกษา</h4>
                    <h4>Login</h4>
                    <div class="line"></div>
                    <div class="form_box">
                        <input type="text" placeholder="Enter your email adress" name="userID" required>    
                    </div>
                    <div class="form_box">
                        <input type="password" placeholder="Password" name="password" required>
                    </div>
                    <button type="submit" class="btn">เข้าสู่ระบบ</button>
                    <div class="form_box1">
                        <a href="/repass"><h2>Change Password?</h2></a>
                    </div>
                </form>

                <div class="bottom-right">
                  <h2>ระบบหอพักนักศึกษา หมาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</h2>
                </div>
            </div>
        </div>
</body>
</html>