<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--css-->
        <link rel="stylesheet" href="css/repass.css">

        <!--fonts-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       
                                        
        <title>test</title>
    </head>

    <body>
       
        <nav>
            <h2><a href="/login"> < Back to login</a></h2>
            
            </ul>
        </nav>
        
        <div class="bg">
            <div class="box">
                <h4>เปลื่ยนรหัสผ่าน</h4>
                <h4>Change your password</h4>
                <img src="img/icon.png" class="icon">
                <h3>ให้นักศึกษาใส่อีเมลของมหาวิทยาลัยเพื่อยืนยันตัวตนก่อนทำการเปลี่ยนรหัสผ่านใหม่</h3>
                <h3>หากมีปัญหากรุณาติดต่อที่ dorm@op.kmutnb.ac.th หรือ 0-2555-2000</h3>
                <form method="post" action="/repass">  
                    <div class="form_box">
                        <input type="email" placeholder="Enter your email address" name="email" required>
                    </div>
                    
                        <a href=""#><button type="submit" class="btn">ถัดไป</button></a>
                    </div>
                   
                </form>
                
            <div class="bottom-left ">
                <h2>ระบบหอพักนักศึกษา หมาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</h2>
            </div>
        </div>
        
    </body>
</html